.footer {
    background-image: linear-gradient(to right, #a101aa, #233080);
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer img[alt="card"] {
    width: 250px;
    height: auto;
    border-radius: 20px;
    opacity: 0.9;
}

